<div class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a href="/" class="navbar-brand"><img src="/img/YIES_logo_bw_25px_beta.png"></a>

        </div>

        <div class="collapse navbar-collapse">

            <ul class="nav navbar-nav">
                <li><a href="/pro">Pro</a></li>
                <li><a href="/pricing">Pricing</a></li>
                <li><a href="/sandbox">Sandbox</a></li>
            </ul>
            {{#if user}}

            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" data-toggle="dropdown" class="dropdown-toggle">
                        <img src="/img/profile.png">
                        {{user.email}}
                        <i class="caret"></i>

                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="/dashboard">Dashboard</a></li>
                        <li class="divider"></li>
                        <li><a href="/account">Account</a></li>
                        <li class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                    </ul>
                </li>
            </ul>
            {{else}}
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Register</a></li>
            </ul>
            {{/if}}

        </div>
    </div>
</div>
