<div class="container-800" align="center">
    </br>
    </br>
    <iframe width="800" height="450" src="https://www.youtube.com/embed/pThGSZXiVto?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen="allowfullscreen"></iframe>
    </br>
    </br>
    <h3>What is YIES ?</h3>
    </br>
    <p>YIES is a innovative talent evaluation tool that let you gather feedback from your peers in order to produce a quantitative report on your competences.</p>
    <p>The insight from this report can be used in different situations: As back-up data during performance appraisals. As end-of-project evaluation. As a trustworthy competence matrix for a future potential employer.</p>
    </br>
    <h3>Why YIES ?</h3>
    </br>
    <p style="font-style: italic">“ While managers are best able to assess a individual's outcomes and results, team members provide a unique perspective on performance and an insight into an individual's interpersonal interactions and skills. ”</p>
    <p>Show your current or future manager how good you are performing!</p>
    </br>
    <hr>
    </br>
    <a class="button-register" href="/signup">Register</a>
    </br>
    </br>
    </br>
    <p>YIES is free. Register today and start your own evaluation in minutes :)</p>


</div>

<div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
</div>