<script>var counter = 0;
console.log("Counter at start : " + counter);
</script>



<div class="container-800">
    <h1>{{ title }}</h1>

    </br>
    </br>
    </br>
    <div align="center"><img src="/img/2of4.png"></div>
    </br>
    </br>


    <form action="/new_evaluation_2" method="post" onsubmit='return validateForm()'>

        <input type='hidden' name='_csrf' value={{_csrf}}>

            <input type="hidden"  name="last_modified" id="last_modified">
            <input type="hidden"  name="status" value="Not launched">
            <input type="hidden"  name="number_questions" id="number_questions" value="0">

{{# each items }}
            <input type="hidden"  name="evaluation_id" value={{this._id}}>
{{/each}}
        </br>
        </br>

        INTRO TEXT:

        <textarea name="intro_text" rows="3" class="form-control-Maxi2" autofocus="autofocus" required>example: Could you please take two minutes of your time in order to give feedback on my performance during the past 6 month. It would be highly appreciated.</textarea>

        </br>
        SELECT A TEMPLATE:
                <select class="form-control-Maxi" size=1>
                    <option value="0" selected="selected">- Select a template -</option>
                    <option value="1" id="std_soft_skills">Standard Soft Skills</option>
                    <option value="2" id="Administration Assistant">Administration Assistant</option>
                    <option value="3" id="Software Developer">Software Developer</option>
                    <option value="4" id="Mechanical Engineer">Mechanical Engineer</option>
                    <option value="5" id="Offshore Installation Engineer">Offshore Installation Engineer</option>
                    <option value="6" id="Department Manager">Department Manager</option>
                    <option value="7" id="President of a nation">President of a Nation</option>
                    <option value="8" id="General Manager">General Manager</option>
                    <option value="9" id="Marketing Brand Manager">Marketing Brand Manager</option>
                </select>

        </br>

    <div id="template_questions"></div>

    <div align="right"><button type="submit">Next ></button></div>


    </form>
</div>

<script src="/js/insertTemplates.js" language="Javascript" type="text/javascript"></script>
<script src="/js/addInput_question.js" language="Javascript" type="text/javascript"></script>
<!--<script type="text/javascript" src="/jquery/jquery.min.js"></script>-->

<script>

    document.getElementById("last_modified").value = Date.now();


    // ADD ONE LINE
    $(document).ready(function () {
        $('body').on('click', '#add_one_line', function () {

            addInput('dynamicInput');
            counter++;

            // UPDATE DYNAMICALLY ALL NUMBERS
            $('.index').each(function(i) {
                $(this).val(i+1);
            });

            console.log("Counter after adding : " + counter);
            document.getElementById("number_questions").value = counter;

        });

    });

    // REMOVE ONE LINE
    $(document).ready(function () {
        $('body').on('click', '#delete', function () {
            $(this).closest('.row').remove();
            counter--;
            document.getElementById("number_questions").value = counter;

            // UPDATE DYNAMICALLY ALL NUMBERS
            $('.index').each(function(i) {
                $(this).val(i+1);
            });
            console.log("Counter after removing : " + counter);
            document.getElementById("number_questions").value = counter;
        });
    });

    // REPLACE COMPETENCES FROM TEMPLATE
    $('select').on("change",function(){

        counter = 0;

        if($(this).val()==1) {
            insertTemplate1('template_questions');
        }

        if($(this).val()==2) {
            insertTemplate2('template_questions');
        }

        if($(this).val()==3) {
            insertTemplate3('template_questions');
        }

        if($(this).val()==4) {
            insertTemplate4('template_questions');
        }

        if($(this).val()==5) {
            insertTemplate5('template_questions');
        }

        if($(this).val()==6) {
            insertTemplate6('template_questions');
        }

        if($(this).val()==7) {
            insertTemplate7('template_questions');
        }

        if($(this).val()==8) {
            insertTemplate8('template_questions');
        }

        if($(this).val()==9) {
            insertTemplate9('template_questions');
        }

        // UPDATE DYNAMICALLY ALL NUMBERS
        $('.index').each(function(i) {
            $(this).val(i+1);
            counter++;
        });
        console.log("Counter after inserting template : " + counter);
        document.getElementById("number_questions").value = counter;
    });

</script>

<script>
    // VALIDATE FORM //

    function validateForm() {
        console.log("Validate form runs, Counter = " + counter);
        if (counter < 10) {
            console.log("Error: not enough competences");
            $('#error-modal').modal('show');
            return false;
        }
    }

</script>




<!--MODAL TO SHOW ERROR-->
<div class="modal fade" id="error-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" align="center"><h2>Sorry!</h2></div>
            <br/><br/>
            <div class="modal-body" align="center">You need at least 10 competences.</div>
            <br/><br/>
            <div class="modal-footer"> <input type="button" id="" class="add-evaluer" data-dismiss="modal" value="Got it!"></div>

        </div>
    </div>
</div>