<div class="container-800" align="center">
    </br>
    </br>
    <h1 style="color:#3cb878">Pricing</h1>

    <table style="max-width: 600px;" align="center">
        <tbody>
        <tr>
            <td align="left" width="259" height="76"></td>
            <td class="center-and-right-column" align="center" valign="bottom" width="113"><strong>Private</strong></td>
            <td class="center-and-right-column" align="center" valign="bottom" width="114"><strong>Pro</strong></td>
        </tr>
        <tr>
            <td class="left-column" bgcolor="#EAFFEE">Individual peer appraisal</td>
            <td class="center-and-right-column" align="center" bgcolor="#EAFFEE"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
            <td class="center-and-right-column" align="center" bgcolor="#EAFFEE"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr>
            <td class="left-column">Customizable templates</td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr bgcolor="#EAFFEE">
            <td class="left-column">Insightful report</td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr>
            <td class="left-column">Share with your manager</td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr bgcolor="#EAFFEE">
            <td class="left-column">Export report in PDF format</td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr>
            <td class="left-column">Verified report link</td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr bgcolor="#EAFFEE">
            <td class="left-column">Compare with "world averages"</td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr>
            <td class="left-column">Group peer appraisal</td>
            <td class="center-and-right-column" align="center"></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr bgcolor="#EAFFEE">
            <td class="left-column">Full organisation management</td>
            <td class="center-and-right-column" align="center"></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr>
            <td class="left-column">Team reporting</td>
            <td class="center-and-right-column" align="center"></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr bgcolor="#EAFFEE">
            <td class="left-column">Template management</td>
            <td class="center-and-right-column" align="center"></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr>
            <td class="left-column">Export report in Excel format</td>
            <td class="center-and-right-column" align="center"></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr bgcolor="#EAFFEE">
            <td class="left-column">Insight analysis</td>
            <td class="center-and-right-column" align="center"></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr>
            <td class="left-column">Organisation statistics</td>
            <td class="center-and-right-column" align="center"></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr bgcolor="#EAFFEE">
            <td class="left-column" height="28">Evolution in time</td>
            <td class="center-and-right-column" align="center"></td>
            <td class="center-and-right-column" align="center"><img class="alignnone size-full wp-image-707" src="http://www.yies.co/wp-content/uploads/2017/01/tick-Custom.png" alt="tick-custom" width="26" height="26" /></td>
        </tr>
        <tr>
            <td></td>
            <td class="center-and-right-column" align="center">&nbsp;</td>
            <td class="center-and-right-column" align="center">&nbsp;</td>
        </tr>
        <tr>
            <td></td>
            <td class="center-and-right-column" align="center"><strong>FREE</strong></td>
            <td class="center-and-right-column" align="center"><strong>10 USD</strong>/ user / year</td>
        </tr>
        <tr>
            <td></td>
            <td class="center-and-right-column" align="center">&nbsp;</td>
            <td class="center-and-right-column" align="center">&nbsp;</td>
        </tr>
        </tbody>
    </table>
    </br>
    </br>


</div>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>

</div>