<div class="container-800">
    </br>
    </br>
    <h1 style="color:#3cb878" align="center">Pro version</h1>
    </br>
    <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
            <p>Let's make Performance Appraisal great again!</p>
            </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3 style="color:#3cb878" align="left">The challenge today</h3>
            <p>In medium and large size companies, performance appraisal is being dreaded by both managers and team members.
                It takes an awful lot of time and resources for a below average result.</p>
            <p>Performance appraisal and feedback to team members should be an essential milestone during the year and a source of motivation.
                It should be the moment to look back on achievements and plan for the future.
                The current outdated and un-effective process leads to frustration, feeling of unfairness and disengagement from team members.</p>
            <p>Most evaluations today are word-based which make it impossible to make data-driven decisions.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3 style="color:#3cb878" align="left">YIES is the revolution</h3>
            <p>YIES Pro is a powerful talent evaluation tool which makes performance appraisal insightful, efficient, fair and engaging.</p>
            <p>Our innovative solution combines two essential principles:</p>
                <ul>
                    <li type="square">Real 360 degree feedback (all peers)</li>
                    <li type="square">Quantitative evaluation of all soft and hard skills</li>
                </ul>

            <p>The incredible insight gathered with so little effort, has never been so powerful.</p>

        </div>
    </div>

    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <h3 style="color:#3cb878" align="left">Features</h3>

            <ul>
                <li type="square">Team evaluations</li>
                <li type="square">Full organisational management</li>
                <li type="square">Manager and HR roles</li>
                <li type="square">Team reporting</li>
                <li type="square">Export data in Excel</li>
                <li type="square">Insight Analysis</li>
                <li type="square">Organisation statistics</li>
                <li type="square">Evolution in time</li>
            </ul>

            <p>For further information on our enterprise solution, please contact us using the below form.</p>
        </div>
    </div>

    </br>


    <!-- CONTACT FORM -->


        <div class="row" align="center"><h3>Contact Form</h3></div>

        <form method="POST" class="form-horizontal">
            <input type='hidden' name='_csrf' value={{_csrf}}>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label">Name</label>
                <div class="col-sm-8">
                    <input type="text" name="name" id="name" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="email" class="col-sm-2 control-label">Email</label>
                <div class="col-sm-8">
                    <input type="text" name="email" id="email" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label for="message" class="col-sm-2 control-label">Message</label>
                <div class="col-sm-8">
                    <textarea name="message" id="message" rows="7" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-8">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-envelope"></i>Send</button>
                </div>
            </div>
        </form>


</div>
