
<script src="/js/blob-stream.js"></script>
<script src="/js/pdfkit.js"></script>
<script src="/js/pdfkit.js.map"></script>
<script src="/js/download.js"></script>


<body>
<div class="container-800">

    <div class="col-md-3" align="right">
        <a class='action-icons' id="export-button"><i class="fa fa-file-pdf-o"></i>Export to PDF</a>
    </div>

</div>
</body>
<script>
    // create a document and pipe to a blob
    var doc = new PDFDocument();
    var stream = doc.pipe(blobStream());
    var lorem = "BS text :)";

    // draw some text
    doc.fontSize(25)
    .text('Here is some vector graphics...', 100, 80);

    // some vector graphics
    doc.save()
    .moveTo(100, 150)
    .lineTo(100, 250)
    .lineTo(200, 250)
    .fill("#3cb878");

    doc.circle(280, 200, 50)
    .fill("#3cb878");

    // an SVG path
    doc.scale(0.6)
    .translate(470, 130)
    .path('M 250,75 L 323,301 131,161 369,161 177,301 z')
    .fill('red', 'even-odd')
    .restore();

    // and some justified text wrapped into columns
    doc.text('And here is some wrapped text...', 100, 300)
    .font('Times-Roman', 13)
    .moveDown()
    .text(lorem, {
    width: 412,
    align: 'justify',
    indent: 30,
    columns: 2,
    height: 300,
    ellipsis: true
    });


    doc.end();

    stream.on('finish', function(){
                blob = stream.toBlob('application/pdf')
                });

    $(document).ready(function () {
        $('body').on('click', '#export-button', function () {
            console.log("Try to print");
            printPDF();

        });
    });

    function printPDF() {
        download( blob, "report.pdf", "pdf");
    }

</script>
