<div class="container-800" align="center">
    </br>
    </br>
    <h1 style="color:#3cb878">Thank you !</h1>
    </br>
    </br>
    <p> Your anonymous feedback is highly appreciated.</p>
    </br>
    </br>
            <hr>
    </br>
    <h3>What is YIES ?</h3>
    </br>
    <p>YIES is a innovative talent evaluation tool that let you gather feedback from your peers in order to produce a quantitative report on your competences.</p>
    </br>
    <h3>Why YIES ?</h3>
    </br>
    <p style="font-style: italic">“ While managers are best able to assess a individual's outcomes and results, team members provide a unique perspective on performance and an insight into an individual's interpersonal interactions and skills. ”</p>
    <p>Show your current or future manager how good you are performing!</p>
    </br>
    <h3>Register</h3>
    </br>
    <p>YIES is free. Register today and start your own evaluation in minutes :)</p>

</div>

<div class="row">
    <div class="col-md-6"></div>
    <div class="col-md-6"></div>

</div>